.StartWin{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.StartWin button{
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgb(135, 2, 193);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}
.StartWin button:hover{
    background-color: rgb(203, 3, 187);
}